<!DOCTYPE html>
<html>
<head>
    <style>
        div.container {
            width: 100%;
        }
        main {
        }

        
    </style>

</head>
<body>
    <main>
        <br />
        <iframe src="~/images/pdfs/Comtec Big Blue Book 6_NoPrices.pdf" name="iframe_a" height="700" style= "width:100%; float:left;"></iframe>
        <br />
        
    </main>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <button id="Home" style=" text-align:center; color:white; background-color:#476cac; width: 550px; height:150px;" onclick="Index()" value="Home"> Home </button>
    }
</body>
</html>
