<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background-color: aliceblue;
        }

        div.container {
            width: 100%;
        }

        header, footer {
            padding: 1em;
            color: black;
            background-color: white;
            clear: left;
            text-align: center;
            align-content: center;
        }

        .divider {
            width: 5px;
        }

        main {
        }

        .carousel {
            position: center;
        }

        .homeButton {
            display: inline;
        }


        nav {
            margin: 0;
            padding: 0;
        }

        .col-md-3 {
            display: inline-grid;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
        }



            nav ul a {
                text-decoration: none;
            }
    </style>
</head>

<body>

    <div class="container">

        <br />
        @Html.Partial("_Carousel")
        <br />

        <div class="row">

            <div class="col-md-3" style="width:100%;">
                <ul>
                    <content>

                        <section style="display:inline-flex;">
                            <br />

                            @using (Html.BeginForm("ComtecWeb", "Home", FormMethod.Post))
                            {
                                <button id="Website" style="background-color:#476cac; width: 550px; height:250px; color:white;" onclick="ComtecWeb()" value="Website">Comtec Catalogue</button>
                            }
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            @*@using (Html.BeginForm("PrizeDraw", "Home", FormMethod.Post))
                            {
                                <button id="PrizeDraw" style="background-color:#476cac; width: 550px; height:250px; color:white;" onclick="PrizeDraw()" value="Prize Draw">Prize Draw</button>
                            }*@
                            <img src="~/images/Nexxia/nexxia-audio-solutions-logo.png" width="550" height="250"/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            @using (Html.BeginForm("SignUp", "Home", FormMethod.Post))
                            {
                                <button id="SignUp" style="background-color:#476cac; width: 550px; height:250px; color:white;" onclick="SignUP()" value="Sign Up for a Catalogue!">Sign up for a catalogue</button>
                            }
                        </section>

                    </content>
                </ul>
            </div>

        </div>

    </div>
    <main>

    </main>
</body>
</html>
