<!DOCTYPE html>
<html>

<head>
    <style>

        body {
            background-color: aliceblue;
        }


        header, footer {
            padding: 1em;
            color: black;
            background-color: white;
            clear: left;
            text-align: center;
            align-content: center;
        }


        .buttonOfHome {
            width: 100%;
            height:250px;
            background-color: #476cac;
            color: white;
            margin: auto;
            text-align:center;
        }
        .middlehome {
            width: 100%;
            height: 250px;
            color: white;
            margin: auto;
            text-align: center;
        }
        .divTableRow{
            display:inline-flex;
            width:100%;
        }
        .divTable {
            height: 250px;
        }

        .divider {
            width: 5px;
        }

        main {
            width: 100%;
        }

        .container {
            width: auto;

        }
        content {
        
            width:550px;
            height:250px;
            margin:auto;
        
        }

        .carousel {
            position: center;
        }

        .homeButton {
            display: inline;
        }

        nav {
            margin: 0;
            padding: 0;
        }

        .col-md-3 {
            display: inline-grid;
            width: 100%;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
        }

            nav ul a {
                text-decoration: none;
            }
    </style>
</head>

<body>

    <div class="container">

        <br />
        @Html.Partial("_Carousel")
        <br />

    </div>
        <div class="divTable">
            <div class="divTableBody">
                <div class="divTableRow">
                    <content  >
                        @using (Html.BeginForm("ComtecWeb", "Home", FormMethod.Post))
                        {
                            <button id="Website" class="buttonOfHome" onclick="ComtecWeb()" value="Website">Comtec Catalogue</button>
                        }
                    </content>
                    <content  >
                        @*@using (Html.BeginForm("PrizeDraw", "Home", FormMethod.Post))
                            {
                                <button id="PrizeDraw" style="background-color:#476cac; width: 550px; height:250px; color:white;" onclick="PrizeDraw()" value="Prize Draw">Prize Draw</button>
                            }*@
                        <img src="~/images/Nexxia/nexxia-audio-solutions-logo.png" class="middlehome"/>
                    </content>
                    <content >
                        @using (Html.BeginForm("SignUp", "Home", FormMethod.Post))
                        {
                            <button id="SignUp" class="buttonOfHome" onclick="SignUP()" value="Sign Up for a Catalogue!">Sign up for a catalogue</button>
                        }
                    </content>
                </div>
            </div>
        </div>
</body>
</html>
