<!DOCTYPE html>
<html>
<head>
    <style>
        div.container {
            width: 100%;
        }

        header {
            padding: 1em;
            color: white;
            background-color: #476cac;
            clear: left;
            text-align: center;
        }

        footer {
            padding: 1em;
            color: white;
            background-color: #476cac;
            clear: left;
            text-align: center;
        }


        nav {
            margin: 0;
            padding: 0;
        }

            nav ul {
                list-style-type: none;
                padding: 0;
            }

                nav ul a {
                    text-decoration: none;
                }

        .col-md-3 {
            text-align: center;
            width: inherit;
        }

    </style>
</head>
<body>

    <div class="container">
        
        <header>
            @{
                ViewData["Title"] = "Prize Draw";
            }
            <h2>@ViewData["Title"]</h2>
            <h3>@ViewData["Message"]</h3>



        </header>


        <div class="col-md-3">
            <h2>Your Details Here</h2>
            <ul>
                <content>
                    @using (Html.BeginForm("PrizeDrawEnter", "Home", FormMethod.Post))
                    {

                        <div>
                            <form method="post">
                                <div>
                                    First Name:<br />
                                    <input type="text" name="firstname" /><br />
                                    Last Name:<br />
                                    <input type="text" name="lastname" /><br />
                                    Email Address:<br />
                                    <input type="text" name="email" /><br />
                                    Company:<br />
                                    <input type="text" name="company" /><br />
                                    Phone Number:<br />
                                    <input type="number" name="phoneNumber" /><br /><br />

                                    <button style="font-size:25px;" id="submitbutton" name="submitbutton" onclick="PrizeDrawEnter()" value="subbutton" runat="server">Submit</button>
                                    <br />
                                    <text style="font-size:10px;">By Pressing Submit you are signing up to a Prize Draw hosted by Comtec Cable Accessories Ltd.</text>
                                </div>
                            </form>
                        </div>
                    }
                </content>
            </ul>
        </div>
    </div>

</body>
</html>


