@{
    ViewData["title"] = "Save Details";
}

<div class="row">

    <div class="col-md-3">
        <h2>@ViewData["Message"]</h2>
        <ul>
            <content>
                <br />
                @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                {
                    <form method="post">
                        <button id="Home" name="Home" onclick="Index()" value="Homebutton">HOME</button>
                    </form>
                }
            </content>
        </ul>
    </div>
</div>
